<h1>Editing Comentario</h1>

<%= render 'form' %>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active"> <%= link_to 'Mostrar', @comentario %>  </li>
    <li class="active"> <%= link_to 'Atras', @comentario.articulo %>  </li>
  
  </ul>
</nav>


<!--<%= link_to 'Atras', articulo_path(@comentario.articulo_id) %>-->