<h1>New Comentario</h1>

<%= render 'form' %>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active"> <%= link_to 'Atras', @comentario.articulo %> </li>

  </ul>
</nav>


