/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/*
* {color: #5882FA;}
form * {color: red;}
label { background-color: yellow;}
.field {text-align: right;}
.new_comentario {margin-right: 40px;}
#tit {background-color: #A9D0F5;}
th {background-color: #CFE4FE}
th:hover {color: #313233;}

tr td:last-child, tr td:nth-child(4), tr td:nth-child(5) {background-color: #CACCCE}
*/