<% unless notice.blank? %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Listado de  Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td><%= link_to 'Ver', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Articulo', new_articulo_path %>



<ul class="media-list">
  <li class="media"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  A Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
    <ul >
      <li class="media"> <span class=" glyphicon glyphicon-cutlery" aria-hidden="true"></span> AA Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
    
      </li>
      <li class="media">BB Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
        
      </li>
      
      <li class="media">CC Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
      </li>
    </ul>  
  </li>
  
  <li class="media">B Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
    
  </li>
  
  <li class="media">C Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 
  </li>
  
</ul>





<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.
      </div>
    
  </div>
</div>


