<% unless notice.blank? %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active"> <%= link_to 'Nuevo Comentario', new_comentario_path(articulo_id: @articulo.id) %></li>
    <li class="active"> <%= link_to 'Editar', edit_articulo_path(@articulo) %> </li>
    <li class="active"> <%= link_to 'Atras', articulos_path %></li>
  </ul>
</nav>


<h2 id="tit">Comentarios</h2>
<!--
<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulo.comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Ver', comentario %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->


<!--prueba Mia -->

<ul class="media-list">
  <% @articulo.comentarios.each do |comentario| %>
    <li class="media-left"><b> Autor:</b>  <%= comentario.autor %>  
    
    <li class="media-left"><b>Cuerpo:</b>  <%= comentario.cuerpo %> 
              
    </li>
            
    <li class="media-left"><b>Fecha: </b><%=comentario.fecha %>
      
    </li>
    
    
    <%= link_to 'Ver', comentario %>  <%= link_to 'Editar', edit_comentario_path(comentario) %> <%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Estás seguro?' } %>
   <br></br>
    </li> 
  <% end %>
</ul>

<!--Fin de mi prueba -->